<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    {% include 'header.html' %}
</head>
<body>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
        {% for category, message in messages %}
        <p class="{{category}}">{{message}}</p>
        {% endfor %}
        {% endif %}
        {% endwith  %}

        <h1>Welcome to the Wall, {{session.username}}</h1>
        <a href="/logout">Logut</a>

      <form action="/create_message" method="post">
        <div class="form-group">

            <textarea class="form-control"cols="150" rows = "4" name="message"></textarea>
            <br>
            <button type="submit" class="btn btn-success">Post a message!</button>
        </div>

      </form>
        {% for message in messages %}
        <h5>{{message.first_name}} - {{message.created_at}}</h5>
        <p>{{message.message}}</p>
        <div class="comments">
            {% for comment in comments %}
            {% if comment.message_id == message.id %}
            <h5>{{comment.first_name}} - {{comment.created_at}}</h5>
            <p>{{comment.comment}}</p>
            {% endif %}
            {% endfor %}
        </div>
        <form action="/create_comment" method="post">
            <input type="hidden" name = "messageid" value = {{message.id}} />
            <div class="form-group">

                <textarea class="form-control" cols="150" rows = "2" name="comment"></textarea>
                <br>
                <button type="submit" class="btn btn-success">Post a comment!</button>
            </div>
    
          </form>
        {% endfor %}
        
        
    </div>
</body>
</html>